* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  /* position: fixed; */
}

.App {
  position: relative;
  padding: 3rem;
}

canvas {
  transform: translate(0, 0rem);
  height: 100%;
  width: 100%;
}

/* **********************************
Landing Page  */

.landingPage {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* *** */
  font-family: "Times New Roman", Times, serif;
}

.landingPage div {
  background-color: black;
}

#introLandingPageContainer {
  position: relative;
}

#canvas {
  /* position: absolute; */
  z-index: -1;
}

#introLandingPage {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 5%;
  color: white;
  text-align: center;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#introLandingPage h1 {
  font-size: 10rem;
  font-weight: 500;
  margin: 5%;
  margin-bottom: 2%;
}

#introLandingPage h2 {
  font-size: 100%;
  margin: 0 25%;
  font-weight: 400;
}

.rightText {
  position: fixed;
  width: 25rem;
  right: 10%;
  top: 10%;
  color: white;
  /* font-size: 1.7rem; */
  font-weight: 400;
  animation: slide-up 3s;
}


.centerOffsetLeftText {
  position: fixed;
  right: 18%;
  top: 60%;
  color: white;
  font-weight: 400;
  animation: slide-up 3s;
}
.centerOffsetRightText {
  position: fixed;
  right: 50%;
  top: 40%;
  color: white;
  font-weight: 400;
  animation: slide-up 3s;
}

.centerText {
  text-align: center;
  position: fixed;
  right: 30%;
  left: 30%;
  top: 50%;
  color: white;
  font-weight: 400;
  animation: slide-up 3s;
}

.landingTextFinal {
  margin: 1rem;
}

/* #arrakis {
} */

/* .placeHolder3D {
  height: 80rem;
  width: 100%;
} */

#milkyWayLandingPageContainer {
  position: relative;
}

#milkyWayLandingPage {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#milkyWayLandingPage img {
  margin: 0 15% 5% 15%;
  /* max-width: 75%;
  max-height: 60%; */
  width: 70%;
  height: 65%;
}

#milkyWayTextLandingPage {
  background-color: transparent;
  position: absolute;
  /* transform: translate3d(0,0,0); */
  bottom: 18%;
  left: 3rem;
}

#milkyWayTitleLandingPage {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  /* transform: translate3d(0, 100px, 0); */
  animation: slide-up 2s;
  /* animation-delay: calc(var(--scroll) * -1s); */
}

#milkyWayCTALandingPage {
  color: red;
  font-weight: 400;

  animation: slide-up 3s;
  /* animation-delay: calc(var(--scroll) * -1s); */
}

@keyframes slide-up {
  from {
    opacity: 0;
    /* line-height: 200px; */
  }

  to {
    opacity: 1;
    /* line-height: 25px; */
  }
}

/* ***********
Milky Way Buttons */

.galaxyButtons {
  height: 25px;
  width: 25px;
  border-color: crimson;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0.7;
}

/* https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/ */

.galaxyButtons:hover {
  border-color: yellow;
  background-position: 0 100%;
  transition: opacity 1s, visibility 0.2s;
}

#sunWrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-25%, -100%);
}

#sun {
  cursor: pointer;
}

#sunDescription {
  margin-left: 0.5rem;
  height: 20px;
  width: 20px;
  color: white;
  /* visibility: hidden; */
  opacity: 0.7;
  transition: opacity 1s, visibility 0.2s;
}

#sunWrapper:hover #sunDescription {
  /* visibility: visible; */
  opacity: 1;
  color: yellow;
}

/* ***********************
Single Planet */

.planetText {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  position: absolute;
  bottom: 15%;
  left: 5%;
  opacity: 0.7;
  transition: opacity 1s, visibility 0.2s;
}
