* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  position: fixed;
}

canvas {
  transform: translate(0, 0rem);
  height: 100%;
  width: 100%;
}
