* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  /* position: fixed; */
}

canvas {
  transform: translate(0, 0rem);
  height: 100%;
  width: 100%;
}

/* **********************************
Landing Page  */

.landingPage {
  background-color: black;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  /* height: 100rem; */
}

#introLandingPage {
  color: white;
  text-align: center;
  margin: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#introLandingPage h1 {
  font-size: 10rem;
  font-weight: 500;
  margin: 5%;
  margin-bottom: 2%;
}

#introLandingPage h2 {
  font-size: 100%;
  margin: 0 25%;
  font-weight: 400;
}

.placeHolder3D {
  height: 80rem;
  width: 100%;
}

#milkyWayLandingPageContainer {
  position: relative;
}

#milkyWayLandingPage {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#milkyWayLandingPage img {
  margin: 0 15% 5% 15%;
  /* max-width: 75%;
  max-height: 60%; */
  width: 70%;
  height: 65%;
  
}

#milkyWayTextLandingPage {
  background-color: transparent;
  position: absolute;
  /* transform: translate3d(0,0,0); */
  bottom: 18%;
  left: 3rem;
}

#milkyWayTitleLandingPage {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  /* transform: translate3d(0, 100px, 0); */
  animation: slide-up 2s;
  /* animation-delay: calc(var(--scroll) * -1s); */
}

#milkyWayCTALandingPage {
  color: red;
  font-weight: 400;

  animation: slide-up 3s;
  /* animation-delay: calc(var(--scroll) * -1s); */
}

@keyframes slide-up {
  from {
    opacity: 0.0;
    /* line-height: 200px; */
  }

  to {
    opacity: 1;
    /* line-height: 25px; */
  }
}

/* ***********
Milky Way Buttons */

#sun {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-25%, -100%);
  -ms-transform: translate(-25%, -100%);
  background-color: transparent;
  color: red;
  font-size: 10px;
  /* padding: 12px 24px; */
  border: none;
  cursor: pointer;

  /* border-radius: 5px; */
}
