* {
  /* background-color: black; */
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* background: #111; */
  background-color: black;
  /* position: fixed; */
}

.App {
  position: relative;
  /* padding: 3rem;y
   */
}

canvas {
  transform: translate(0, 0rem);
  height: 100%;
  width: 100%;
}

/* **********************************
Landing Page  */

.topCenterText {
  text-align: center;
}

.landingPage {
  background-color: black;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.landingPage div {
  /* background-color: black; */
  /* justify-content: center; */
  font-family: 'Times New Roman', Times, serif;
  /* height: 100rem; */
}

#heroContainer {
  z-index: -10;
}

#introLandingPageContainer {
  /* position: relative; */
}

#canvas {
  /* position: absolute; */
  z-index: -1;
}

#introLandingPage {
  /* position: absolute; */
  text-align: center;
  z-index: 1;
  top: 25%;
  left: 5%;
  color: white;
  text-align: center;
  margin-top: 500px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#introLandingPage h1 {
  font-size: 10rem;
  font-weight: 500;
  margin: 5%;
  margin-bottom: 2%;
  background-color: transparent;
}

.rightText {
  position: fixed;
  right: 10%;
  top: 10%;
  color: white;
  font-size: 2rem;
}
.centerOffsetLeftText {
  position: fixed;
  right: 18%;
  top: 60%;
  color: white;
}
.centerOffsetRightText {
  position: fixed;
  right: 70%;
  top: 40%;
  color: white;
}

#introLandingPage h2 {
  font-size: 100%;
  margin: 0 25%;
  font-weight: 400;
}

.rightText {
  position: fixed;
  width: 25rem;
  right: 10%;
  top: 10%;
  color: white;
  /* font-size: 1.7rem; */
  font-weight: 400;
  animation: slide-up 3s;
}

.centerOffsetLeftText {
  position: fixed;
  max-width: 50rem;
  /* text-align: center; */
  left: 15%;
  /* top:40%; */
  color: white;
  font-weight: 400;
  animation: slide-up 3s;
}
.centerOffsetRightText {
  position: fixed;
  right: 0%;
  top: 40%;
  color: white;
  font-weight: 400;
  animation: slide-up 3s;
}

.centerText {
  max-width: 25rem;
  /* text-align: center; */
  position: fixed;
  right: 15%;
  /* left: 30%; */
  top: 20%;
  color: white;
  font-weight: 300;
  animation: slide-up 3s;
}
.textLower {
  color: rgb(235, 232, 227);
  text-align: center;
  position: fixed;
  top: 25%;
justify-content: center;
}

.landingTextFinal {
  margin: 1rem;
}

/* #arrakis {
} */

/* .placeHolder3D {
  height: 80rem;
  width: 100%;
} */

#milkyWayLandingPageContainer {
  position: relative;
}

#milkyWayLandingPage {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#milkyWayLandingPage img {
  margin: 0 15% 5% 15%;
  /* max-width: 75%;
  max-height: 60%; */
  width: 70%;
  height: 65%;
}

#milkyWayTextLandingPage {
  background-color: transparent;
  position: absolute;
  /* transform: translate3d(0,0,0); */
  bottom: 18%;
  left: 3rem;
}

#milkyWayTitleLandingPage {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  /* transform: translate3d(0, 100px, 0); */
  animation: slide-up 2s;
  /* animation-delay: calc(var(--scroll) * -1s); */
}

#milkyWayCTALandingPage {
  color: red;
  font-weight: 400;

  animation: slide-up 3s;
  /* animation-delay: calc(var(--scroll) * -1s); */
}

@keyframes slide-up {
  from {
    opacity: 0;
    /* line-height: 200px; */
  }

  to {
    opacity: 1;
    /* line-height: 25px; */
  }
}

/* ***********
Milky Way Buttons */

.galaxyButtons {
  height: 25px;
  width: 25px;
  border-color: crimson;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0.7;
}

/* https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/ */

.galaxyButtons:hover {
  border-color: yellow;
  background-position: 0 100%;
  transition: opacity 1s, visibility 0.2s;
}

#sunWrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-25%, -100%);
}

#sun {
  cursor: pointer;
}

#sunDescription {
  margin-left: 0.5rem;
  height: 20px;
  width: 20px;
  color: white;
  /* visibility: hidden; */
  opacity: 0.7;
  transition: opacity 1s, visibility 0.2s;
}

#sunWrapper:hover #sunDescription {
  /* visibility: visible; */
  opacity: 1;
  color: yellow;
}

/* ***********************
Single Planet */

.planetText {
  color: blanchedalmond;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  position: absolute;
  bottom: 15%;
  left: 5%;
  opacity: 0.7;
  transition: opacity 1s, visibility 0.2s;
}

.container {
  max-width: 120rem;
  padding: 10rem 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-image {
  width: 50%;
}

.container-heading {
  font-weight: 500;
  letter-spacing: -0.5px;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.container-text {
  font-size: 1.4rem;
  line-height: 1;
}

.background {
  z-index: -1;

  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 72%
  );
  background-image: -moz-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 72%
  );
  background-image: -o-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 72%
  );
  background-image: -ms-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 72%
  );
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 72%);
}
/* rgba(0, 0, 0, 0.75) 100%, */

/* images */
.voyagerSat {
}

.moon {
  position: relative;
  left: 0%;
}

.earthSmall {
  z-index: -1;
}

/* floating text */
.text {
  color: rgb(235, 232, 227);
  text-align: center;
  /* right: 35%; */
}
#sL {
  position: relative;
  right: 10%;
}
#sLL {
  position: relative;
  right: 12%;
}
#sR {
  position: relative;
  left: 10%;
}

/* https://i.gifer.com/Bayw.gif */
/* https://img1.cgtrader.com/items/2867081/b970c04482/large/mars-planet-with-8k-textures-3d-model-obj.jpg */

/* starwars    https://www.iconspng.com/uploads/spaceship.png */

/* spaceshuttle https://cdn.pixabay.com/photo/2019/05/01/14/25/space-4171004_960_720.png */

/* dunes https://www.seekpng.com/png/full/13-137266_singing-sand-dune-erg-sand.png */

/* sun https://www.nicepng.com/png/full/1-15276_sun-png-clip-art-planet-sun-clipart.png */

/* dune https://d494u2iqg624y.cloudfront.net/picture_material_preview/2021/12/03/a1a3fbf8fe934372b1881a89e8c77ac0.png */

/* planets
https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Arcadian_Planet_Beta.png/640px-Arcadian_Planet_Beta.png

https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Gajillion_Islands_Planet.png/640px-Gajillion_Islands_Planet.png


 */

/* stars bg */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
}

.twinkling {
  /* background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center; */
  /* z-index:-1; */

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.dune {
  width: 100%;
}
/* ******************* */
/* Info Page */

#infoPageContainer {
  background-color: black;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#infoPageIntro {
  padding-bottom: 3rem;
  margin: 0 20%;
}

#infoPageTitle {
  font-size: 3rem;
  text-align: center;
  padding-top: 10rem;
}

#infoPageTitle span {
  color: gold;
}

#infoPageSubtitle {
  text-align: center;
  font-size: 0.7rem;
  margin: 0 10%;
}

#surveySatellite {
  width: 100%;
  margin-bottom: 8rem;
}

#infoPageIntroText {
}

#toc {
  /* width: 20rem;
  border: 1px solid white;
  padding: 2rem 1rem 2rem 2rem; */
  line-height: 2;
  margin: 6rem 3rem;
  text-decoration: none;
  list-style-type: none;
}

#toc span {
  color: gold;
}

#toc2Nums span {
  color: rgb(61, 102, 160);
}

a li {
  text-decoration: none;
  color: white;
}

#infoPageContent {
  display: flex;
  flex-direction: column;
  /* padding: 1rem;
  box-shadow: 0 2px 2px rgba(245, 245, 245, 0.025), 0 5px 2px rgba(235, 233, 233, 0.025), 0 15px 15px rgba(242, 242, 242, 0.035),
  0 15px 15px rgba(255, 255, 255, 0.045), 0 15px 15px rgba(255, 255, 255, 0.055); */
}

.infoPageContentCard {
  margin-bottom: 5rem;
  padding: 1rem 5rem;
  /* background: rgb(28, 28, 28); */
  /* border: 1px solid white; */
  /* box-shadow: 0 2px 2px rgba(245, 245, 245, 0.025), 0 5px 2px rgba(235, 233, 233, 0.025), 0 15px 15px rgba(242, 242, 242, 0.035),
    0 15px 15px rgba(255, 255, 255, 0.045), 0 15px 15px rgba(255, 255, 255, 0.055);
  border-radius: 10%; */
}

.infoPageContentCard h4 {
  margin-top: 2rem;
}

.infoPageContentCard h5 {
  color: rgb(61, 102, 160);
}

.infoPageContentCard ul li {
  list-style-type: none;
}

.infoPageContentCard p span {
  color: rgb(61, 102, 160);
}

#infoPageContent h2 {
  color: gold;
}

#infoPageContent p {
  /* margin-bottom: 7rem; */
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

#infoPageContent p span {
  font-size: 1.3rem;
}

/* #infoPageContent ul {
  margin-bottom: 7rem;
} */

#infoPageContent .toc5methods h4 {
  color: rgb(61, 102, 160);
  /* margin-top: 2rem; */
  font-size: 1.2rem;
}

#infoPageContent .toc5methods p {
  font-size: 1.1rem;
  margin-bottom: 4rem;
}
