* {
  /* background-color: black; */
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* background: #111; */
  background-color: black;
  /* position: fixed; */
}

.App {
  position: relative;
  /* padding: 3rem;y
   */
}

canvas {
  transform: translate(0, 0rem);
  height: 100%;
  width: 100%;
}

/* **********************************
Landing Page  */

/* #skipButtonContainer {
  display: flex;
  justify-content: flex-end;

} */

/* #skipButton {
  color: white;
  border: 1px solid white;
  position: absolute;
  text-align: right;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  z-index: 20;
} */

#skipButton {
  margin: 1rem;
  font-size: 0.5rem;
}

#skipButton:hover {
  /* border: 1px solid gold; */
  color: gold;
}

.topCenterText {
  text-align: center;
}

.landingPage {
  background-color: black;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.landingPage div {
  /* background-color: black; */
  /* justify-content: center; */
  font-family: 'Times New Roman', Times, serif;
  /* height: 100rem; */
}

#heroContainer {
  z-index: -10;
}

#introLandingPageContainer {
  /* position: relative; */
}

#canvas {
  /* position: absolute; */
  z-index: -1;
}

#introLandingPage {
  position: relative;
  text-align: center;
  z-index: 1;
  top: 20%;
  /* left: 5%; */
  color: white;
  text-align: center;
  margin-top: 21%;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#introLandingPage h1 {
  font-size: 10rem;
  font-weight: 500;

  position: relative;
  /* margin: 25%; */
  margin-bottom: 2%;
  /* top: 50%; */
  background-color: transparent;
}

.rightText {
  position: fixed;
  right: 10%;
  top: 10%;
  color: white;
  font-size: 2rem;
}
.centerOffsetLeftText {
  position: fixed;
  right: 18%;
  top: 60%;
  color: white;
}
.centerOffsetRightText {
  position: fixed;
  right: 70%;
  top: 40%;
  color: white;
}

#introLandingPage h2 {
  font-size: 100%;
  margin: 0 29%;
  font-weight: 400;
}

.rightText {
  position: fixed;
  width: 25rem;
  right: 10%;
  top: 10%;
  color: white;
  /* font-size: 1.7rem; */
  font-weight: 400;
  animation: slide-up 3s;
}

.centerOffsetLeftText {
  position: fixed;
  max-width: 50rem;
  /* text-align: center; */
  left: 15%;
  /* top:40%; */
  color: white;
  font-weight: 400;
  animation: slide-up 3s;
}
.centerOffsetRightText {
  position: fixed;
  right: 0%;
  top: 40%;
  color: white;
  font-weight: 400;
  animation: slide-up 3s;
}

.centerText {
  max-width: 25rem;
  /* text-align: center; */
  position: fixed;
  right: 15%;
  /* left: 30%; */
  top: 20%;
  color: white;
  font-weight: 300;
  animation: slide-up 3s;
}
.textLower {
  color: rgb(235, 232, 227);
  /* text-align: center; */
  position: relative;
  top: 35%;
  text-align: center;
  /* max-width: 70%; */
}

.landingTextFinal {
  margin: 1rem;
}

/* #arrakis {
} */

/* .placeHolder3D {
  height: 80rem;
  width: 100%;
} */

#milkyWayLandingPageContainer {
  position: relative;
}

#milkyWayLandingPage {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#milkyWayLandingPage img {
  margin: 0 15% 5% 15%;
  /* max-width: 75%;
  max-height: 60%; */
  width: 70%;
  height: 65%;
}

/* #milkyWayLandingPage img:hover {
  opacity: 0.9;
} */

#milkyWayTextLandingPage {
  background-color: transparent;
  position: absolute;
  /* transform: translate3d(0,0,0); */
  bottom: 18%;
  left: 3rem;
}

#milkyWayTitleLandingPage {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  animation: slide-up 2s;
  /* animation-delay: calc(var(--scroll) * -1s); */
  /* transform: translate3d(0, 100px, 0); */
}

#milkyWayCTALandingPage {
  color: Gold;
  font-weight: 400;
  animation: slide-up 3s;
  /* animation-delay: calc(var(--scroll) * -1s); */
}

@keyframes slide-up {
  from {
    opacity: 0;
    /* line-height: 200px; */
  }

  to {
    opacity: 1;
    /* line-height: 25px; */
  }
}

/* ***********
Milky Way Buttons */

.galaxyButtons {
  height: 50px;
  width: 50px;
  border-color: black;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0.7;
}

/* https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/ */

.galaxyButtons:hover {
  border-color: gold;
  background-position: 0 100%;
  transition: opacity 1s, visibility 0.2s;
}

#sunWrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-25%, -100%);
}

#sun #proxima #trappist {
  cursor: pointer;
}

.starSystemDescription {
  margin-left: 0.5rem;
  height: 20px;
  width: 20px;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  /* visibility: hidden; */
  opacity: 0.7;
  transition: opacity 1s, visibility 0.2s;
}

#sunWrapper:hover .starSystemDescription {
  /* visibility: visible; */
  opacity: 1;
  color: gold;
}

#proximaWrapper {
  position: absolute;
  top: 75%;
  left: 55%;
  transform: translate(-25%, -100%);
}

#promixa {
  cursor: pointer;
}

#proximaWrapper:hover .starSystemDescription {
  opacity: 1;
  color: gold;
}

#trappistWrapper {
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translate(-25%, -100%);
}

#trappistWrapper button :hover{
  opacity: 1;
  color: gold;
}




/* #trappist {
  cursor: pointer;
} */



/* ***********************
Single Planet */

.planetText {
  color: blanchedalmond;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  position: absolute;
  bottom: 15%;
  left: 5%;
  opacity: 0.7;
  transition: opacity 1s, visibility 0.2s;
}

.container {
  max-width: 120rem;
  padding: 10rem 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-image {
  width: 50%;
}

.container-heading {
  font-weight: 500;
  letter-spacing: -0.5px;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.container-text {
  font-size: 1.4rem;
  line-height: 1;
}

.background {
  z-index: -1;

  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 72%
  );
  background-image: -moz-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 72%
  );
  background-image: -o-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 72%
  );
  background-image: -ms-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 72%
  );
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 72%);
}
/* rgba(0, 0, 0, 0.75) 100%, */

/* images */
.voyagerSat {
}

.moon {
  position: relative;
  left: 0%;
}

.earthSmall {
  z-index: -1;
}

/* floating text */
.text {
  color: rgb(235, 232, 227);
  text-align: center;
  left: 25%;
  right: 25%;
  padding: 5%;
  /* right: 35%; */
}

.textTri {
  color: rgb(235, 232, 227);
  text-align: center;
  left: 50%;
  right: 50%;
  bottom: 10%;
  padding: 25%;
  /* right: 35%; */
}


#sL {
  position: relative;
  right: 10%;
}
#sLL {
  position: relative;
  right: 12%;
}
#sR {
  position: relative;
  left: 10%;
}

/* https://i.gifer.com/Bayw.gif */
/* https://img1.cgtrader.com/items/2867081/b970c04482/large/mars-planet-with-8k-textures-3d-model-obj.jpg */

/* starwars    https://www.iconspng.com/uploads/spaceship.png */

/* spaceshuttle https://cdn.pixabay.com/photo/2019/05/01/14/25/space-4171004_960_720.png */

/* dunes https://www.seekpng.com/png/full/13-137266_singing-sand-dune-erg-sand.png */

/* sun https://www.nicepng.com/png/full/1-15276_sun-png-clip-art-planet-sun-clipart.png */

/* dune https://d494u2iqg624y.cloudfront.net/picture_material_preview/2021/12/03/a1a3fbf8fe934372b1881a89e8c77ac0.png */

/* planets
https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Arcadian_Planet_Beta.png/640px-Arcadian_Planet_Beta.png

https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Gajillion_Islands_Planet.png/640px-Gajillion_Islands_Planet.png


/* milky way https://www.nicepng.com/png/full/246-2462923_the-galaxy-map-milky-way-galaxy-black-hole.png */



/* stars bg */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
}

.twinkling {
  /* background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center; */
  /* z-index:-1; */

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.dune {
  width: 100%;
}
/* ******************* */
/* Info Page */

#infoPageContainer {
  background-color: black;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#infoPageIntro {
  padding-bottom: 3rem;
  margin: 0 20%;
}

#infoPageTitle {
  font-size: 3rem;
  text-align: center;
  padding-top: 10rem;
}

#infoPageTitle span {
  color: gold;
}

#infoPageSubtitle {
  text-align: center;
  font-size: 0.7rem;
  margin: 0 10%;
}

#surveySatellite {
  width: 100%;
  margin-bottom: 8rem;
}

#infoPageIntroText {
}

#toc {
  /* width: 20rem;
  border: 1px solid white;
  padding: 2rem 1rem 2rem 2rem; */
  line-height: 2;
  margin: 6rem 3rem;
  text-decoration: none;
  list-style-type: none;
}

#toc span {
  color: gold;
}

#toc2Nums span {
  color: rgb(61, 102, 160);
}

a li {
  text-decoration: none;
  color: white;
}

#infoPageContent {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* padding: 1rem;
  box-shadow: 0 2px 2px rgba(245, 245, 245, 0.025), 0 5px 2px rgba(235, 233, 233, 0.025), 0 15px 15px rgba(242, 242, 242, 0.035),
  0 15px 15px rgba(255, 255, 255, 0.045), 0 15px 15px rgba(255, 255, 255, 0.055); */
}

.infoPageContentCard {
  margin-bottom: 5rem;
  padding: 1rem 5rem;
  /* background: rgb(28, 28, 28); */
  /* border: 1px solid white; */
  /* box-shadow: 0 2px 2px rgba(245, 245, 245, 0.025), 0 5px 2px rgba(235, 233, 233, 0.025), 0 15px 15px rgba(242, 242, 242, 0.035),
    0 15px 15px rgba(255, 255, 255, 0.045), 0 15px 15px rgba(255, 255, 255, 0.055);
  border-radius: 10%; */
}

.infoPageContentCard h2 {
  margin-bottom: 1rem;
}

.infoPageContentCard h4 {
  margin: 2rem 0 1rem 0;
}

.infoPageContentCard h5 {
  color: rgb(61, 102, 160);
}

.infoPageContentCard ul li {
  list-style-type: none;
  padding: 1rem;
}

.infoPageContentCard p span {
  color: rgb(61, 102, 160);
  margin-top: 2rem;
}

#toc4 ~ p {
  margin-top: 1rem;
} 

#infoPageContent h2 {
  color: gold;
}

#infoPageContent p {
  /* margin-bottom: 7rem; */
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

#infoPageContent p span {
  font-size: 1.3rem;
}

/* #infoPageContent ul {
  margin-bottom: 7rem;
} */

#infoPageContent .toc5methods h4 {
  color: rgb(61, 102, 160);
  /* margin-top: 2rem; */
  font-size: 1.2rem;
}

#infoPageContent .toc5methods p {
  font-size: 1.1rem;
  margin-bottom: 4rem;
}





/* sdflgkjsdogirejgo;idfsjg;ldfskgjsdf;lkgj */


@import 'https://fonts.googleapis.com/css?family=Roboto:400,500';

html {
  box-sizing: border-box;
}
#pos {
  position: absolute;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}

header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

.container {
  position: relative;
  top: -150px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-top: 0%;
}

.container:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  /* margin-left: auto;
  margin-right: auto; */
  max-height: 50px;
  width: 90%;
  /* max-width: 1200px; */
}

/*
Full screen background image
*/
.hero {
  /* background: url('https://hd.unsplash.com/photo-1454165804606-c3d57bc86b40'); */
  /* background-size: cover; */
  width: 100%;
  background: none;
  height: 2%;
  position: relative;
}

/*
Blueish tint overlay
*/
.hero:after {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  /* position: absolute; */
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*
Making sure everything in .hero sits above our :after elements
*/
.hero * {
  position: relative;
  z-index: 100;
}

#masthead {
  padding: 0px;
  position: relative;
  height: 50px;
}

#masthead.is-active {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

/*
Using this method because browsers can transition opacity very cheaply as opposed to using background: rgba
https://www.html5rocks.com/en/tutorials/speed/high-performance-animations/
*/
#masthead:after {
  content: '';
  /* position: absolute; */
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#masthead.is-active:after {
  opacity: 0;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  /* float: left; */
  font: inherit;
  margin: 0.8125em 0 0;
  overflow: visible;
  outline: none;
  padding: 0;
  text-transform: none;
  transition: opacity 0.15s;
  -webkit-appearance: none;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

#masthead.is-active .hamburger-inner,
#masthead.is-active .hamburger-inner::before,
#masthead.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -6px;
}

.hamburger-inner::after {
  bottom: -6px;
}

/*
 * Boring
 */
.hamburger--boring .hamburger-inner,
.hamburger--boring .hamburger-inner::before,
.hamburger--boring .hamburger-inner::after {
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.hamburger-label {
  color: #fff;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1;
  margin-left: 0.3125em;
  text-transform: uppercase;
}

#masthead.is-active .hamburger-label {
  color: #000;
}

.hamburger-box,
.hamburger-label {
  display: inline-block;
  vertical-align: middle;
}

#site-nav {
  clear: both;
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  /* padding-top: 2.5em; */
  padding-top: 0px;
}

#site-nav.is-active {
  height: auto;
  overflow: visible;
}

#site-nav .col {
  padding-bottom: 2.5em;
}

@media screen and (min-width: 550px) {
  #site-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #site-nav .col {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 768px) {
  #site-nav .col {
    flex: 0 0 33.333333333%;
  }
}

@media screen and (min-width: 960px) {
  #site-nav {
    flex-wrap: nowrap;
  }

  #site-nav .col {
    flex: 0 0 20%;
  }

  #site-nav .col:last-child {
    display: flex;
    justify-content: flex-end;
  }
}

#site-nav h4 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#site-nav ul {
  list-style-type: none;
  margin-top: 1em;
}

#site-nav li {
  margin-bottom: 0.3125em;
}

#site-nav li a {
  color: #b4b9ba;
  text-decoration: none;
  transition: color 0.3s ease;
}

#site-nav li a:hover,
#site-nav li a:focus {
  color: #686d6e;
}

#site-nav .social {
  margin: 0;
  overflow: hidden;
}

#site-nav .social li {
  float: left;
  margin: 0 0.3125em;
  width: 32px;
  height: 32px;
}

#site-nav .social li svg {
  display: block;
  fill: #b4b9ba;
  width: 100%;
  height: 100%;
  transition: fill 0.3s ease;
}

#site-nav .social li:hover svg {
  fill: #686d6e;
}

#masthead-search {
  float: right;
  margin-top: 0.625em;
  width: 100%;
  max-width: 14em;
  position: relative;
  -webkit-appearance: none;
}

#masthead-search input {
  background: transparent;
  border: none;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  outline: none;
  width: 100%;
  padding: 0.75em 1.125em;
  transition: border-color 0.3s ease;
  -webkit-appearance: none;
}

#masthead-search button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0.75em;
  transform: translateY(-50%);
  -webkit-appearance: none;
}

#masthead.is-active #masthead-search button {
  color: #b4b9ba;
}

#masthead.is-active #masthead-search input {
  border-color: #b4b9ba;
}

#masthead-search ::-webkit-input-placeholder {
  color: #fff;
}

#masthead-search :-moz-placeholder {
  color: #fff;
  opacity: 1;
}

#masthead-search ::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

#masthead-search :-ms-input-placeholder {
  color: #fff;
}

#masthead.is-active #masthead-search ::-webkit-input-placeholder {
  color: #b4b9ba;
}

#masthead.is-active #masthead-search :-moz-placeholder {
  color: #b4b9ba;
  opacity: 1;
}

#masthead.is-active #masthead-search ::-moz-placeholder {
  color: #b4b9ba;
  opacity: 1;
}

#masthead.is-active #masthead-search :-ms-input-placeholder {
  color: #b4b9ba;
}

#masthead .col {
  opacity: 0;
}

#masthead.is-active .col {
  transform: translateY(40px);
  transition: opacity 0.3s ease;
  animation: fade-in-stagger 0.8s ease forwards;
}

#masthead.is-active .col:nth-child(1) {
  -webkit-animation-delay: 0;
}

#masthead.is-active .col:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

#masthead.is-active .col:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

#masthead.is-active .col:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

#masthead.is-active .col:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

@keyframes fade-in-stagger {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
